@charset "UTF-8";


/* color */
body {
	--light: #fff;
	--dark: #242424;
	--pink: #f0908d;
}



@font-face {
 	font-family: "MPLUSRounded1c";
 	src: url("../font/MPLUSRounded1c-Bold.ttf") format("truetype");
	font-weight: normal;
    font-style: normal;
}

body{
	letter-spacing: 1px;
	font-family: 'MPLUSRounded1c', sans-serif;
	color: var(--dark);
	background-color: var(--light);
	font-size: 1.6rem;
	transition: all .3s;
}

a{
	color:var(--dark);
}

section{
	padding-bottom: 80px;
}


.sec-title{
	font-size: 3.2rem;
	text-align: center;
	margin-bottom: 40px;
}
.sec-title span{
	padding: 0 20px;
}
.wrap{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 4%;
}
/******************************************************/
/*header*/
/******************************************************/
#header{
	width: 100%;
	height: 80px;
	padding: 10px;
	z-index: 1000;
	position: fixed;
	top:0;
	left:0;
	background-color: var(--light);
}
#header .header-wrap{
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header .site-title{
	text-align: center;
	font-size: 2.0rem;
}

#header .site-title img{
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin-right: 5px;
}

#header .header-box{
	height: 100%;
	display: flex;
	align-items: center;
}

#header .header-item{
	margin-left: 20px;
}

nav ul {
	display: flex;
}
nav ul li{
	margin-left: 20px;
}
nav ul li:hover{
	text-decoration: underline;
}

#darkmode{
	position: relative;
	background: #242424;
	cursor: pointer;
    width: 54px;
    height:54px;
	border: 2px solid #fff;
	border-radius: 5px;
	background-image:url("../img/moon.svg");
	background-size: 30px 30px;
	background-position: center;
	background-repeat: no-repeat;
	transition: all .3s;
}
#darkmode.on{
	background-image:url("../img/sun.svg");
}

#header .openbtn{
	position: relative;
	background: #242424;
	cursor: pointer;
    width: 54px;
    height:54px;
	border: 2px solid #fff;
	border-radius: 5px;
	display: none;
}

/*ボタン内側*/
#header .openbtn span{
    display: inline-block;
    transition: all .3s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background: #fff;
  	width: 45%;
  }

#header .openbtn span:nth-of-type(1) {
	top:15px;	
}

#header .openbtn span:nth-of-type(2) {
	top:23px;
}

#header .openbtn span:nth-of-type(3) {
	top:31px;
}

/*activeクラスが付与されると線が回転して×に*/

#header .openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

#header .openbtn.active span:nth-of-type(2) {
	opacity: 0;/*真ん中の線は透過*/
}

#header .openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

#header ul.sp-menu{
	position: absolute;
	top: 80px;
	left: 0;
	width: 100%;
	background-color: var(--light);
	transform: scaleY(0);
	transform-origin: top center;
	transition: all 0.3s;
}
#header ul.sp-menu li{
	padding: 20px;
	text-align: center;
}
#header ul.sp-menu li:hover{
	text-decoration: underline;
}
#header ul.sp-menu.active{
	transform: scaleY(1);
}



/******************************************************/
/*footer*/
/******************************************************/
#footer{
	background-color: #ddd;
	padding: 20px;
}
#footer ul.footer-menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#footer ul.footer-menu li{
	margin: 10px;
}
#footer ul.footer-menu li:hover{
	text-decoration: underline;
}
#footer p{
	text-align: center;
}
/******************************************************/
/*loading*/
/******************************************************/
.loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
}

.loading.is-active {
  opacity: 0;
  visibility: hidden;
}

.loading-animation {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: var(--main-color);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.loading-animation.is-active {
  opacity: 1;
  visibility: visible;
}

.loader-1 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 10px;
  border-color: #fff #f7c7c6 #f7c7c6;
  position: relative;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.loading p{
	color: #fff;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


/******************************************************/
/*darkmode*/
/******************************************************/
body.dark{
	--light: #242424;
	--dark: #fff;
}

body.dark #footer{
	background-color: #242424;
}

/******************************************************/
/*smartphone*/
/******************************************************/
@media screen and (max-width: 750px){
	nav{
		display: none;
	}
	#header .openbtn{
		display: block;
	}
}




