@charset "UTF-8";



/* color */
body {
	--light: #fff;
	--dark: #242424;
	--pink: #f0908d;
}



@font-face {
 	font-family: "MPLUSRounded1c";
 	src: url("../font/MPLUSRounded1c-Bold.ttf") format("truetype");
	font-weight: normal;
    font-style: normal;
}

body{
	letter-spacing: 1px;
	font-family: 'MPLUSRounded1c', sans-serif;
	color: var(--dark);
	background-color: var(--light);
	font-size: 1.6rem;
	transition: all .3s;
}

a{
	color:var(--dark);
}

section{
	padding-bottom: 80px;
}


.sec-title{
	font-size: 3.6rem;
	text-align: center;
	margin-bottom: 40px;
}



.sec-title span{
	padding: 0 20px;
}
.wrap{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 4%;
}
/******************************************************/
/*header*/
/******************************************************/
#header .header-wrap{
	width: 100%;
	height: 80px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
	background-color: var(--light);
	position: fixed;
	top:0;
	left:0;
}

#header .site-title{
	text-align: center;
	font-size: 2.0rem;
}

#header .site-title img{
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin-right: 5px;
}

#header .header-box{
	height: 100%;
	display: flex;
	align-items: center;
}

#header .header-item{
	margin-left: 20px;
}

#darkmode{
	position: relative;
	cursor: pointer;
    width: 54px;
    height: 54px;
	background-image:url("../img/moon.svg");
	background-size: 30px 30px;
	background-position: center;
	background-repeat: no-repeat;
	transition: all .3s;
}
#darkmode.on{
	background-image:url("../img/sun.svg");
}



#header .hamburger {
    display: block;
    height: 60px;
    position: relative;
    width: 54px;
    height:54px;
	cursor: pointer;
}
#header .hamburger__line {
    display: block;
    height: 3px;
    position: absolute;
    border-radius: 2px;
    top: 23px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    background-color: var(--dark);
    transition: 0.3s;
}
#header .hamburger__line:before,
#header .hamburger__line:after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: var(--dark);
    transition: inherit;
}
#header .hamburger__line:before {
    top: -8px;
}
#header .hamburger__line:after {
    top: 8px;
}
#header .hamburger.-active .hamburger__line {
    background-color: transparent;
}
#header .hamburger.-active .hamburger__line::before {
    top: 0;
    transform: rotate(45deg);
}
#header .hamburger.-active .hamburger__line::after {
    top: 0;
    transform: rotate(-45deg);
}
#header .header__nav-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	height: 100vh;
	z-index: 999;
    visibility: hidden;
	background-color: rgba(0,0,0,0.8);
	opacity: 0;
    transition: 0.3s;
}
#header .header__nav-area.-active {
	visibility: visible;
	opacity: 1;
}
#header ul.global-navigation__list{
	background-color: var(--light);
	padding: 90px 10px 20px;
}

#header ul.global-navigation__list li a{
	display: block;
	text-align: center;
	width: 100%;
	padding: 30px;
	font-size: 2.4rem;
}
#header ul.global-navigation__list li a:hover{
	text-decoration: underline;
}


/******************************************************/
/*footer*/
/******************************************************/
#footer{
	background-color: #ddd;
	padding: 20px;
}
#footer ul.footer-menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#footer ul.footer-menu li{
	margin: 10px;
}
#footer ul.footer-menu li:hover{
	text-decoration: underline;
}
#footer p{
	text-align: center;
}
/******************************************************/
/*loading*/
/******************************************************/
.loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
}

.loading.is-active {
  opacity: 0;
  visibility: hidden;
}

.loading-animation {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background-color: var(--pink);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.loading-animation.is-active {
  opacity: 1;
  visibility: visible;
}

.loader-1 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 10px;
  border-color: #fff #f7c7c6 #f7c7c6;
  position: relative;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.loading p{
	color: #fff;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


/******************************************************/
/*darkmode*/
/******************************************************/
body.dark{
	--light: #242424;
	--dark: #fff;
}

body.dark #footer{
	background-color: #242424;
}

/******************************************************/
/*smartphone*/
/******************************************************/
@media screen and (max-width: 750px){

}




